@page "/display"
<h3>EmployeeDisplay</h3>

<table class="table">
        <thead>
            <tr>
                <th>EmployeeID</th>
                <th>FirstName</th>
                <th>lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>1</td>
                    <td>Shubham</td>
                    <td>Shirke</td>
                    <td>shubhamaloha.com</td>
                </tr>
 
        </tbody>
    </table>

@code {

}
